.title--blog {
    width: 28.12rem;
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.745);
    color: hsl(0, 0%, 100%);
    font-family: 'Work Sans Bold';
    padding: 1.25rem;
    bottom: 0rem;
}

.card {
    position: relative;
}

.card a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    & .card__category {
        font-size: .87rem;
        color: hsl(0, 0%, 44%);
        text-transform: uppercase;
        background-color: hsl(216, 100%, 99%);
        padding: 1rem;
        position: absolute;
        margin: 1.0625rem 0rem 0rem .62rem;
    }
}

.hero-block {
    display: flex;
    background-color: hsl(216, 100%, 99%);
    & div {
        width: 50%;
        & img {
            width: 100%;
        }
    }

    & .block__intro {
        padding: 6.25rem;
        font-family: 'Work Sans Bold';
        line-height: 2;
        & p {
            margin: 1.56rem 0rem;
        }
    }
}

.blog-content {
    margin: 6.25rem auto;
    max-width: 50.75rem;
    & h2 {
        font-weight: 100;
    }
    & p {
        margin: 1.87rem 0rem;
    }
}

.blog__title {
    padding-top: 15.62rem;
    margin-bottom: 3.12rem;
    margin-left: 6.25rem;
    & h1 {
        font-size: 3.75rem;
        font-weight: 100;
    }
    & p {
        text-transform: uppercase;
        color: hsla(0, 0%, 47%, 0.8);
    }
}

.collage--detail {
    display: flex;
    justify-content: center;
    gap: .62rem;
    margin-bottom: 6.25rem;
}