.card {
    position: relative;
}

.title--blog {
    width: 450px;
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.745);
    color: white;
    font-family: 'Work Sans Bold';
    padding: 20px;
    bottom: 0px;
}

.card a {
    color: black;
    text-decoration: none;

    & .card_category {
        font-size: .875rem;
        color: hsl(0, 0%, 44%);
        text-transform: uppercase;
        background-color: hsl(216, 100%, 99%);
        padding: 16px;
        position: absolute;
        margin: 17px 0px 0px 10px;
    }
}

.hero-block {
    display: flex;
    background-color: hsl(216, 100%, 99%);
    & div {
        width: 50%;
        & img {
            width: 100%;
            
        }
    }

    & .block_intro {
        padding: 100px;
        font-family: 'Work Sans Bold';
        line-height: 2;
        
        & p {
            margin: 25px 0px;
        }
    }
}

.blog-content {
    margin: 100px auto;
    max-width: 812px;

    & h2 {
        font-weight: 100;
    }

    & p {
        margin: 30px 0px;
    }
}


.blog_title {
    padding-top: 250px;
    margin-bottom: 50px;
    margin-left: 100px;

    & h1 {
        font-size: 60px;
        font-weight: 100;
    }

    & p {
        text-transform: uppercase;
        color: hsla(0, 0%, 47%, 0.8);
    }
}

.collage--detail {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
}