@font-face {
    font-family: 'Sitka Display';
    src: url('../fonts/SitkaDisplay.woff2') format('woff2'),
        url('../fonts/SitkaDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans Regular';
    src: url('../fonts/subset-WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/subset-WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans Light';
    src: url('../fonts/subset-WorkSans-Light.woff2') format('woff2'),
        url('subset-WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url('../fonts/subset-WorkSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

 /* Algemeen  */

body {
    font-family: 'Work Sans Regular';
    font-size: 20px;
}

.max-width {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sitka Display';
}

a { 
    color: black;
}

/* nav */
nav {
    font-family: 'Work Sans Light';
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    z-index: 1;
    padding-top: 56px;

    & ul {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    & li {
        list-style: none;

        &:last-child {
            border: 1px hsla(0, 0%, 0%, 0.5) solid;
            padding: 16px 32px;
        }
    }

    & a {
        text-decoration: none;
        color: inherit;
    }

    &.nav--light {
        color: white;
    }
    
    .li--light:last-child {
        border: 1px hsla(0, 0%, 100%, 0.5) solid;
        padding: 16px 32px;
    }
}


/* footer */

.footer {
    background-color: black;
    color: white;
    font-size: 20px;
    & a {
        color: white;
    }
}

/* footer top */

.footer--top {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
    margin-bottom: 78px;
}

.footer--top div {
    max-width: 536px;
    & p {
        margin-bottom: 20px;
    }
}

.logo {
    font-family: 'Sitka Display';
    font-size: 2.18rem;
    margin-bottom: 32px;
}

.footer--top p {
    font-family: 'Work Sans Light';
    opacity: 1;

}

/* footer socials */

.socials {
    max-width: 8.3125rem;
    display: flex;
    justify-content: space-between;
}

.line {
    padding: 1px;
    background-color: white;
    margin: 62px 0px 35px 0px;
}

/* footer nav */

.nav-footer li {
    list-style: none;
    margin-bottom: 25px;
    & a {
        text-decoration: none;
    }
}

/* footer bottom */

.footer-bottom {
    color: #ffffffad;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    font-family: 'Work Sans Light';

    & div {
        display: flex;
        gap: 30px
    }
}

/* algemeen projects en blog */
.banner {
    background-color: black;
    color: white;
    padding-top: 209px;
}

.banner-content {
    max-width: 1198px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    & h1 {
        font-size: 50px;
    }

    & p {
        max-width: 673px;
        font-size: 24px;
    }
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    margin-top: 150px;
    margin-bottom: 150px;
}

/* contact pagina */
.columns-top, .columns-bottom {
    display: flex;
}

.columns__column {
    width: 50%;
}

.columns-top {
    align-items: center;
}

.columns-top .columns__text {
    padding-left: 60px;
    padding-right: 20px;
}

.columns-bottom .columns__text {
    background-color: hsl(216, 100%, 99%);
}

.columns-top img {
    width: 100%;
    height: 941px;
}

.columns-bottom  img {
    width: 100%;
    height: 755px;
}

.columns__text {
    width: 50%;
    & h1 {
        font-size: 60px;
        font-weight: 100;
    }
}

.text--bottom {
    padding: 183px 178px  183px 146px;
    font-family: 'Work Sans Light';
}

.columns__centered {
    width: 812px;
    margin: 0 auto;
    padding: 100px 0px;
    & p {
        font-family: 'Work Sans Light';
    }
}

.hero-block--index p {
    font-family: 'Work Sans Regular';
}