@font-face {
    font-family: 'Sitka Display';
    src: url('../fonts/SitkaDisplay.woff2') format('woff2'),
        url('../fonts/SitkaDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans Regular';
    src: url('../fonts/subset-WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/subset-WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans Light';
    src: url('../fonts/subset-WorkSans-Light.woff2') format('woff2'),
        url('subset-WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url('../fonts/subset-WorkSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

 /* Algemeen  */

body {
    font-family: 'Work Sans Regular';
    font-size: 1.25rem;
}

.max-width {
    max-width: 87.5rem;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sitka Display';
    font-weight: 100;
}

a { 
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

/* header */

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header--relative {
    position: relative;
}

.logo {
    font-family: 'Sitka Display';
    font-size: 2.18rem;
    margin-bottom: 2rem;
}

/* nav */

.nav {
    font-family: 'Work Sans Light';
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 2.5rem;
    z-index: 1;
    padding-top: 3.5rem;
    & ul {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }
    & li {
        list-style: none;
        &:last-child {
            border: 1px hsla(0, 0%, 0%, 0.5) solid;
            padding: 16px 2rem;
        }
    }
    & .nav__link {
        color: inherit;
    }
    &.nav--light {
        color: hsl(0, 0%, 100%);
    }
    .border--light:last-child {
        border: .06rem hsla(0, 0%, 100%, 0.5) solid;
        padding: 1rem 2rem;
    }
}


/* footer */

.footer {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    & a {
        color: hsl(0, 0%, 100%);
    }
}

/* footer top */

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 6.87rem;
    margin-bottom: 4.87rem;
    & .footer__text {
        max-width: 33.5rem;
        & p {
            margin-bottom: 1.25rem;
            font-family: 'Work Sans Light';
            opacity: 1;
        }
    }
}


/* footer socials */

.socials {
    max-width: 8.31rem;
    display: flex;
    justify-content: space-between;
}

.line {
    padding: .06rem;
    background-color: hsl(0, 0%, 100%);
    margin: 3.87rem 0rem 2.1875rem 0rem;
}

/* footer nav */

.footer_nav li {
    list-style: none;
    margin-bottom: 1.56rem;
    & a {
        text-decoration: none;
    }
}

/* footer bottom */

.footer-bottom {
    color: hsla(0, 0%, 100%, 0.678);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5rem;
    font-family: 'Work Sans Light';
    & div {
        display: flex;
        gap: 1.87rem
    }
}

/* algemeen projects en blog */

.banner {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding-top: 13.06rem;
}

.banner_content {
    max-width: 74.87rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 7.5rem;
    & .banner_title {
        font-size: 3.12rem;
    }
    & .banner_text {
        max-width: 42.06rem;
        font-size: 1.5rem;
    }
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .375rem;
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;
}

/* contact pagina */

.columns-top, .columns-bottom {
    display: flex;
}

.columns-top {
    align-items: center;
}

.columns__img {
    width: 50%;
    & img {
        width: 100%;
    height: 47.18rem;
    }
}

.columns-top .columns__text {
    padding-left: 3.75rem;
    padding-right: 1.25rem;
}

.columns-bottom .columns__text {
    background-color: hsl(216, 100%, 99%);
}

.columns__text {
    width: 50%;
    & h1 {
        font-size: 3.75rem;
    }
}

.bottom__text {
    padding: 11.43rem 11.12rem  11.43rem 9.12rem;
    font-family: 'Work Sans Light';
}

.column-centered {
    width: 50.75rem;
    margin: 0 auto;
    padding: 6.25rem 0rem;
    & p {
        font-family: 'Work Sans Light';
    }
}

/* hero */

.block--index p {
    font-family: 'Work Sans Regular';
}

.link-over {
    border: .06rem hsl(0, 0%, 0%) solid;
    padding: .62rem;
}

.collage--index {
    margin: 6.25rem auto;
    & h2 {
        font-size: 2.18rem;
    }
    .card--index {
        display: flex;
        justify-content: space-between;
    }
}

.link-project {
    float: right;
    margin-top: 3.43rem;
    font-family: 'Work Sans Bold';
    & a {
        text-decoration: none;
    }
}

.collage__intro{
    width: 33.12rem;
    margin: 1.87rem 0rem;
}

/* blog index */ 

.article-news {
    margin: 9.375rem auto;
}

.news__intro {
    margin: 3.12rem auto;
    width: 36.25rem;
    text-align: center;
}

.news-content {
    display: flex;
    gap: .37rem;
    justify-content: center;
    & div:first-child {
        width: 45%;
        & p, img {
            width: 100%;
        }
    }
}

.blog--index {
    display: flex;
    flex-wrap: wrap;
    gap: .37rem;
    width: 50%;
    & .card {
        width: 19.75rem;
        & p {
            font-size: .87rem;
            width: 100%;
        }
    }
}

.article-clients {
    background-color: hsl(216, 100%, 99%);
    & .client_content {
        padding: 6.25rem 0rem;
        & .clients {
            display: flex;
            justify-content: space-between;
            margin-top: 4.37rem;
        }
    }
}