{% macro photo(image)%}
    <div class="block_img">
        <img src="../../images/{{ image }}"/>
    </div>
{% endmacro %}

{% macro text(text, tag='p')%}
    <{{ tag }}>{{ text }}</{{ tag }}>
{% endmacro %}