{% extends "./base.njk" %}


{% block main %}
    <div class="banner">
        <div class="banner-content">
            <h1>{{ title }}</h1>
            {% block content %}

            {% endblock content %}
        </div>
    </div>
{% endblock main %}