{% import "../_comp/_hero.njk" as h %}
{% extends "./base.njk" %}

{% set mode = "light" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/projects.css"/>
{% endblock styles %}

{% block main %}
    {{ h.hero(title, category, description, hero , social)}}
    <div class="socials">
            {% for social in socials%}
                <a >
                    <img src="{{ social.img }}" />
                </a>
            {% endfor %}
        </div>
    <article class="projects-content">
        {{ content | safe }}
    </article>
{% endblock main %}