{% extends "./base.njk" %}

{% set mode = "light" %}

{% block styles%}
    <link rel="stylesheet" href="/styles/projects.css"/>
{% endblock styles%}

{% block main %}
    {% include "../_partials/_hero.njk" %}
    <article>
        
    </article>
{% endblock main %}