{% extends "./base.njk" %}

{% block main%}
    {% include "../_partials/_banner.njk" %}

    <div class="grid max-width">
        {% for item in collections.projects %}
            <div>
                <a href="{{ item.page.url }}">
                    <p>{{ item.data.title | safe }} - {{ item.data.category | safe }}</p>
                    <img src="../images/projects/{{ item.data.image }}" />
                </a>
            </div>
        {% endfor %}
    </div>
    
{% endblock main %}

