{% extends "./base.njk" %}

{% block main%}
    <div class="columns-top">
        <div class="columns__text">
            {% block topleft %}
            {% endblock topleft %}
        </div>
        <div class="columns__column">
            {% block topright %}
            {% endblock topright %}
        </div>
    </div>
        
    <div class="columns-bottom">
        <div class="columns__column">
            {% block bottomleft %}
            {% endblock bottomleft %}
        </div>
        <div class="columns__text">
            {% block bottomright %}
            {% endblock bottomright %}
        </div>
    </div>
    
    <div class="columns__centered">
        {% block bottom%}
        {% endblock bottom%}
    </div>
{% endblock main%}