{% import "../_comp/_block-hero.njk" as b %}
{% extends "./base.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/blog.css"/>
{% endblock styles %}

{% block main %}
    <div class="blog__title">
        <h1>{{ title }}</h1>
        <p>{{ data }}</p>
    </div>
    <article class="hero-block">
        {{ b.photo(image)}}
        <div class="block__intro">
            {{ b.text(description)}}
        </div>
    </article>
    <article class="blog-content">
        {{ content | safe }}
    </article>
        <article class="collage--detail">
            {% for item in collections.blog %}
                    {% if item.data.category == category and item.url != page.url %}
                        <div class="card">
                            <a href="{{ item.page.url }}">
                            {% include "../_partials/_blogphoto.njk" %}
                            </a>
                        </div>
                    {% endif %}
            {% endfor %}
        </article>
{% endblock main %}