{% import "../_comp/_block-hero.njk" as b %}
{% extends "./base.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/blog.css"/>
{% endblock styles %}

{% block main %}
    <div class="blog_title">
        <h1>{{ title }}</h1>
        <p>{{ data }}</p>
    </div>
    <article class="hero-block">
        {{ b.photo(image)}}
        <div class="block_intro">
            {{ b.text(description)}}
        </div>
    </article>
    <article class="blog-content">
        {{ content | safe }}
    </article>
{% endblock main %}