{% import "../_comp/_block-hero.njk" as b %}
{% extends "./base.njk" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/blog.css"/>
{% endblock styles %}

{% block main %}
    {{ title }}
    {{ b.block(image, description)}}
    <article class="blog-content">
        {{ content | safe }}
    </article>
{% endblock main %}