---
    title: 'Contact'
    tags: nav
---

{% extends "../_layout/grid.njk" %}


{# <div class="columns__column">
    {% block topleft %}
    <h1>Kom gerust langs of contacteer ons.</h1>
    <p></p>
    {% endblock topleft %}
</div>
<div class="columns__column">
    {% block topright %}
        <img src="../images/Mask-Group.png"/>
    {% endblock topright %}
</div> #}
