---
    title: 'Contact'
    tags: nav
    image: 
        - Mask-Group.png
        - Decoration.png
---

{% extends "../_layout/grid.njk" %}

{% set relative = "relative" %}

{% block topleft %}
<h1>Kom gerust langs of contacteer ons.</h1>
<p class="text--top">
    info@studioboost.be <br/>
    09 012 34 45 Oudburg 5, <br/>
    9000 Gent
</p>
{% endblock topleft %}

{% block bottomright %}
    <p class="bottom__text">
        Studio Boost is gevestigd in het bruisende en historische centrum van Gent, een stad die bekend staat om zijn rijke cultuur, prachtige architectuur en levendige sfeer. Het kantoor is gelegen in een van de oudste wijken van de stad, op loopafstand van de vele restaurants, cafés en winkels. De ligging van Studio Boost is ideaal voor het ontvangen van klanten en het organiseren van vergaderingen en presentaties, aangezien het kantoor gemakkelijk bereikbaar is met het openbaar vervoer.
    </p>
{% endblock bottomright %}
