---
    title: 'Wij zijn Studio Boost'
    nav: 'Home'
    tags: nav
    description: We zijn een digitaal branding agency en kunnen jouw bedrijf promoten dankzij branding, website design, web development en digital marketing.
    hero: video-hero.mp4
    image: background.svg
---
{% import "../_comp/_block-hero.njk" as b %}

{% extends "../_layout/base.njk" %}

{% set mode = "light" %}

{% block styles%}
    <link rel="stylesheet" href="/styles/projects.css"/>
    <link rel="stylesheet" href="/styles/blog.css"/>
{% endblock styles%}

{% block main%}
    {% include "../_partials/_hero.njk" %}

    <article class="max-width index-project">
        <h2>Ons meest recente werk</h2>
        <p class="index_intro">
            Van webshop tot een interactieve applicatie. Bij Studio Boost is ‘the sky the limit’. Wij realiseren jullie droomproject en plaatsen je bedrijf in een nieuw jasje.
        </p>
        <div class="index--card">
            {% for item in collections.projects | sliceFilter(0, 3) %}
                <div class="card">
                    <a href="{{ item.page.url }}">
                        <p class="card_title">{{ item.data.category }} - {{ item.data.title }}</p>
                        <img src="/images/projects/{{ item.data.image }}" />
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="link-project">
            <a href="/projects">Bekijk alle projecten ⇒</a>
        </div>
    </article>

    <article class="hero-block hero-block--index">
        {{ b.photo(image)}}
        <div class="block_intro">
            {{ b.text("Wie zijn we?", 'h1')}}
            {{ b.text("Studio Boost is een creatief bureau dat gespecialiseerd is in het ontwerpen en ontwikkelen van websites, webshops en logo’s.")}}
            {{ b.text("Het bureau heeft een passie voor het creëren van unieke en aantrekkelijke ontwerpen die passen bij de visie en missie van hun klanten. Ze werken nauw samen met hun klanten om ervoor te zorgen dat elk ontwerp volledig op maat gemaakt is en voldoet aan de behoeften van het bedrijf.")}}
            {{ b.text("Het team van Studio Boost bestaat uit getalenteerde ontwerpers en ontwikkelaars die ervaring hebben met het werken met diverse industrieën.")}}
            <div class="link-over">
                <a href="/over">Over Studio Boost</a>
            </div>
        </div>
    </article>
    <article class="article-blog max-width">
        <div class="news_intro">
            <h2>Nieuws</h2>
            <p>
                Blijf op de hoogte met de laatste nieuwtjes of leer bij met onze interessante blog-artikels.
            </p>
        </div>
        <div class="news-content">
            {% for item in collections.blog | sliceFilter(0, 1) %}
                <div class="card">
                    <a href="{{ item.page.url }}">
                        <p class="title--blog">{{ item.data.title }}</p>
                        <img src="/images/{{ item.data.image }}" />
                    </a>
                </div>
            {% endfor %}
            <div class="index-blog">
                {% for item in collections.blog | sliceFilter(1, 5) %}
                    <div class="card">
                        <a href="{{ item.page.url }}">
                            <p class="title--blog">{{ item.data.title }}</p>
                            <img src="/images/{{ item.data.image }}" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
    <article class="article-clients">
        <div class="client_content max-width">
            <h2 class="client_title">We werken al eerder samen met</h2>
            <div class="clients">
                <img src="/images/adidas.svg"/>
                <img src="/images/amazon.svg"/>
                <img src="/images/audi.svg"/>
                <img src="/images/redbullenergydrink.svg"/>
                <img src="/images/apple-music.svg"/>
                <img src="/images/yahoo.svg"/>
            </div>
        </div>
    </article>
{% endblock main%}